/* Override Bootstrap Styles */
.navbar-toggler {
  padding: 0;
}

.collapsing {
  position: relative;
  left: 0;
  overflow: hidden;
  transition: left 0.35s ease;
}

.collapse:not(.show) {
  display: block;
  left: -100vw;
  height: 0;
}

/* Custom Styles */
.navbar-top {
  height: 54px;
  background-color: #fff;
}
.nav-left {
  display: flex;
  align-items: center;
}

.round-toggler {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.round-toggler:focus {
  border-radius: 50%;
  outline: none;
  border: 2px solid rgb(108, 164, 255);
}

.profile-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(../img/default_profile_400x400.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 0;
  /* margin-left: 30px; */
}

svg.content-preference-toggle {
  height: 24px;
  fill: rgba(29, 161, 242, 1);
}

/* Sidebar Content */
.sidebar-menu-overlay {
  position: relative;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.5);
}
.sidebar-menu {
  background: #fff;
  height: calc(100vh - 54px);
  width: 80vw;
}
.round-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.account-switcher-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  /* font-size: 1.5rem; */
  color: rgba(29, 161, 242, 1);
  border: 1px solid rgba(29, 161, 242, 1);
}

.profile-name,
.profile-username {
  line-height: 1.3;
}

.profile-username {
  font-size: 14px;
}

.sidebar-link-icon {
  width: 19px;
  height: 19px;
}

.sidebar-link-text {
  font-size: 16px;
}

.list-group-item {
  border: none;
  padding: 16px 0;
}

/* Bottom Nav Bar Mobile */
.bottom-nav {
  z-index: 1000;
  height: 54px;
  background-color: #fff;
}
.bottom-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}

span.ic-house {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/ic-house.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

span.ic-search {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/ic-search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

span.ic-bell {
  fill: #1da1f2;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/ic-bell.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

span.ic-envelope {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/ic-envelope.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Compose Tweet Floating Button */
.btn-compose-tweet {
  width: 60px;
  height: 60px;
  background-color: rgb(29, 161, 242);
  border: none;
  border-radius: 50%;
  position: fixed;
  bottom: 72px;
  right: 18px;
}
.btn-compose-tweet:focus {
  outline: none;
  border: 2px solid hsl(203, 89%, 75%);
}
.ic-compose-tweet {
  display: inline-block;
  width: 24px;
  height: 24px;
}

/* Compose Tweet */
.end-compose {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.btn-compose-tweet-advanced {
  background-color: rgba(0, 0, 0, 0);
}

.btn-compose-tweet-advanced:not(:last-child) {
  margin-right: 8px;
}

.ic-compose-tweet-advanced {
  width: 23px;
  height: 23px;
  object-fit: contain;
  object-position: center;
}

.compose-tweet-body:focus {
  outline: none;
}

.send-tweet-btn {
  background-color: rgb(29, 161, 242);
  font-size: 0.95rem;
}

/* Tweets Component */
#tweets-feed {
  margin-bottom: 54px;
  box-sizing: content-box;
}

.tweet {
  padding: 1rem 0;
}

.tweet:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

.tweet-profile-icon {
  width: 49px;
  height: 49px;
}

.tweet-date {
  font-size: 0.9rem;
}

.tweet-image {
  width: 100%;
  max-height: 200px;
  margin: 12px 0;
  object-fit: cover;
  object-position: center;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
}

/* Reply, Retweet, Like, etc. */
.tweet-action {
  width: 18px;
  height: 18px;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

/* Gives equal width among all items that has this property in a flex row */
.flex-1 {
  flex: 1;
}

/* Desktop Styles */
@media (min-width: 992px) /*and (max-width: 1199.98px) */ {
  .left-column {
    order: 1;
    width: 20%;
    height: 100vh;
    position: sticky;
    top: 0;
  }
  .center-column {
    order: 2;
    width: 50%;
  }
  .right-column {
    order: 3;
    width: 30%;
  }

  /* Left Column Styles */

  #logo {
    margin-left: -16px;
  }

  .btn-compose-tweet {
    width: 100%;
    height: 49px;
    background-color: rgb(29, 161, 242);
    color: #fff;
    border: none;
    position: initial;
  }
  .btn-compose-tweet:focus {
    outline: none;
    border: 2px solid hsl(203, 89%, 75%);
  }

  #btn-custom-dropup-toggle {
    border: none;
    background: rgba(0, 0, 0, 0);
  }

  #custom-dropup-toggle-text:after {
    display: none;
  }

  .list-group-item {
    padding: 0;
  }
  .sidebar-link {
    display: flex;
    align-items: center;
    padding: 14px;
  }
  .sidebar-link:hover {
    background-color: rgba(29, 161, 242, 0.1);
  }
  .sidebar-link:hover .sidebar-link-text {
    color: #1da1f2;
  }

  .sidebar-link-icon {
    width: 20px;
    height: 20px;
  }

  .sidebar-link-text {
    font-size: 18px;
    font-weight: bold;
  }

  .sidebar-link-active .sidebar-link-text {
    color: #1da1f2;
  }

  /* Center Column Styles */
  .center-column #header-bar,
  .right-column #right-header-bar {
    background-color: #fff;
  }

  .header-text {
    font-size: 1.2rem;
    font-weight: 900;
  }

  .divider {
    background-color: #e6ecf0;
  }

  /* Right Column Styles */
  #search-bar {
    background-color: #e6ecf0;
  }

  #search-bar div:first-child span {
    background-color: transparent;
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
    border: 0;
  }
  #search-bar input:last-child {
    background-color: transparent;
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
    border: 0;
  }

  .search-input {
    background-color: #e6ecf0;
    border: 0;
  }
  .search-input:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid #1da1f2;
  }
  .search-bar::after {
    content: '';
    position: absolute;
    left: 24px;
    top: 12px;
    width: 15px;
    height: 15px;
    background-image: url(../img/ic-search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  #search-bar input:last-child.form-control:focus {
    outline: none;
    border-color: transparent;
  }

  span.ic-search {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../img/ic-search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  /* Trends */
  .trending-list {
    background-color: #f5f8fa;
    border-radius: 1rem;
  }
  .trending-list .list-group-item {
    background-color: transparent;
  }

  .trend-list-header,
  .who-to-follow-header {
    font-weight: 900;
    font-size: 1.2rem;
  }

  .trend-item,
  .who-to-follow-item {
    cursor: pointer;
  }
  .trend-item:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  .trend-metadata {
    font-size: 0.8rem;
  }

  /* Who to follow */
  .who-to-follow-item .profile-icon {
    width: 49px;
    height: 49px;
  }

  .who-to-follow-item .name span {
    line-height: 1;
  }

  .who-to-follow-item button:hover {
    color: #1da1f2;
    background: rgba(29, 161, 242, 0.3);
  }
}

/* Log in page */
.login-title {
  font-weight: 900;
}

#login-form {
  width: 95%;
  max-width: 500px;
}

.form-field {
  background-color: #f5f8fa;
  border-bottom: 2px solid #657786;
}

.form-field-focus {
  border-bottom: 2px solid #1da1f2;
}

.label-active {
  color: #1da1f2 !important;
}

.form-field input {
  background-color: transparent;
  border: 0;
  font-size: 1.2rem;
}
.form-field input:focus {
  outline: none;
}

#btn-login {
  background-color: #1da1f2;
}

#btn-login.login-disabled {
  opacity: 0.5;
  cursor: default;
}